<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.liuzhuoming23.jwtback.app.mapper.DictMapper">

  <select id="select" resultType="com.github.liuzhuoming23.jwtback.app.domain.Dict"
    parameterType="com.github.liuzhuoming23.jwtback.app.domain.Dict">
    select id,code,`name`,enable from dict
    <where>
      <if test="id != null">
        id=#{id}
      </if>
      <if test="code != null and code != ''">
        code=#{code}
      </if>
      <if test="enable != null">
        enable=#{enable}
      </if>
    </where>
  </select>
  <select id="selectOneByCode" resultType="com.github.liuzhuoming23.jwtback.app.domain.Dict"
    parameterType="String">
    select id,code,`name`,enable from dict
    where code=#{code}
  </select>
  <select id="selectOneById" resultType="com.github.liuzhuoming23.jwtback.app.domain.Dict"
    parameterType="int">
    select id,code,`name`,enable from dict
    where id=#{id}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.github.liuzhuoming23.jwtback.app.domain.Dict">
    insert into dict(code,`name`,enable)values(#{code},#{name},#{enable})
  </insert>


  <select id="selectByDictCode" parameterType="String"
    resultType="com.github.liuzhuoming23.jwtback.app.domain.DictItem">
    select id,dict_id dictId,context,val,sort from dict_item
    where dict_id=(select id from dict where code=#{code})
  </select>
  <select id="selectByDictIdAndVal"
    parameterType="com.github.liuzhuoming23.jwtback.app.domain.DictItem"
    resultType="com.github.liuzhuoming23.jwtback.app.domain.DictItem">
    select id,dict_id dictId,context,val,sort from dict_item
    where dict_id=#{dictId} and val=#{val}
  </select>
  <select id="selectByDictId" parameterType="int"
    resultType="com.github.liuzhuoming23.jwtback.app.domain.DictItem">
    select id,dict_id dictId,context,val,sort from dict_item
    where dict_id=#{dictId}
  </select>
  <insert id="insertItem" parameterType="com.github.liuzhuoming23.jwtback.app.domain.DictItem">
    insert into dict_item(dict_id,context,val,sort)values(#{dictId},#{context},#{val},#{sort})
  </insert>
</mapper>
