<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.liuzhuoming23.vegetable.admin.app.mapper.DictItemMapper">

  <select id="selectListByDictCode" parameterType="String"
    resultType="com.github.liuzhuoming23.vegetable.admin.app.domain.DictItem">
    select id,dict_id dictId,context,val,sort
    from dict_item
    where dict_id=(select id
                   from dict
                   where code=#{code})
    order by sort
  </select>
</mapper>
